name: check-test-build

on:
  push:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.9"]

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ruff pytest
          if [ -f requirements-dev.txt ]; then pip install -r requirements-dev.txt; fi
          sudo apt-get install -y upx patchelf
      - name: Lint with ruff
        run: |
          # stop the build if there are Python syntax errors or undefined names
          ruff --format=github --select=E9,F63,F7,F82 --target-version=py39 .
          # default set of ruff rules with GitHub Annotations
          ruff --format=github --target-version=py39 .

      - name: Build
        run: |
          python -m build

      - name: Pack
        run: |
          pyinstaller --collect-all steamCloudSaveDownloader --onefile ./scsd --name scsd_linux64
      - name: Upload whl
        uses: actions/upload-artifact@v3
        with:
          name: dist
          path: |
            dist/*.tar.gz
            dist/*.whl
      - name: Upload Linux Executable
        uses: actions/upload-artifact@v3
        with:
          name: linux_executable
          path: |
            dist/scsd_linux64
      - name: Docker Build
        uses: docker/build-push-action@v4
        with:
          context: .
