name: Publish

on:
  push:
    tags:
    - 'v*'

jobs:
  build:
    uses: ./.github/workflows/check-test-build.yml
  publish:
    needs:
      - build
    runs-on: ubuntu-latest
    steps:
      - name: Download dist
        uses: actions/download-artifact@v3
        with:
          name: dist
          path: dist/
      - name: Publish to pypi
        uses: pypa/gh-action-pypi-publish@release/v1
        if: startsWith(github.ref, 'refs/tags')
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Release
        uses: softprops/action-gh-release
        with:
          files: |
            dist/*.tar.gz
            dist/*.whl
